
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="span12">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="span4 text-center">
              <img src={{ user.avatar(128) }} alt="" class="center-block img-circle img-thumbnail img-responsive">
            </div>
            <!--/col--> 
            <div class="span6">
              <h2>{{ user.username }}</h2>
              <p><strong>About: </strong> {{ user.about_me }} </p>
              <p><strong>Skills: </strong>
                <span class="label label-info tags">html5</span> 
                <span class="label label-info tags">css3</span>
                <span class="label label-info tags">jquery</span>
                <span class="label label-info tags">bootstrap3</span>
              </p>
            </div>
            <!--/col-->          
            <div class="clearfix"></div>
            <div class="span3">
              <h2><strong> {{ user.followers.count() }} </strong></h2>
              <p><small>Followers</small></p>
			  {% if user.id == g.user.id %}
				<a href="{{ url_for('edit') }}" class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Edit Profile </a>
			  {% elif not g.user.is_following(user) %}
				<a href="{{ url_for('follow', username=user.username) }}" class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </a>
			  {% else %}
				<a href="{{ url_for('unfollow', username=user.username) }}" class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Unfollow </a>
			  {% endif %}
				
            </div>
            <!--/col-->
            <div class="span3">
              <h2><strong>{{ user.followed.count() }}</strong></h2>
              <p><small>Following</small></p>
              <a href="javascript:show_followers('{{ g.user.username }}', '{{ g.user.password }}', '#followersID', '#showfollowersID', '#loadingID');" class="btn btn-info btn-block"><span class="fa fa-user"></span> Show Followers </a>
            </div>
            <!--/col-->
            <div class="span3">
              <h2><strong>{{ user.book_ratings|length }}</strong></h2>
              <p><small>Movies Rated</small></p>
              <a href="javascript:show_ratings('{{ user.username }}', '{{ user.password }}', '#followersID', '#showfollowersID', '#loadingID');" class="btn btn-info btn-block"><span class="fa fa-user"></span> Show Ratings </a>
            </div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
    <!--/col--> 
  </div>
  <!--/row--> 

    <div class="outside">
    <p><strong><span id="followersID"></span></strong></p>
    <div>
        <span id="showfollowersID"> </span>        <img id="loadingID" style="display: none" src="/static/img/loading.gif">
     </div>
    </div>

{% endblock %}
